body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Table {
    border-collapse: collapse;
    background: radial-gradient(rgb(140, 247, 247),#1c6d6d,rgb(140, 247, 247));
    margin: 50px;
    position: absolute;
    top: 0px;
    left: 100px;
}
td, th {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    text-align: center; 
}
.icon,.target-icon {
    width: 50px; 
    height: 50px;
    background-color: palegoldenrod;
    line-height: 50px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#left{
    background-color: blanchedalmond;
    position: absolute;
    left: 807px;
    top: 296px;
    
}
#left:hover{
    background-color: cornflowerblue;
}
#right{
    background-color: blanchedalmond;
    position: absolute;
    left: 975px;
    top: 296px;
}
#right:hover{
    background-color: cornflowerblue;
}
#up{
    background-color: blanchedalmond;
    position: absolute;
    left: 892px;
    top: 264px;

}
#up:hover{
    background-color: cornflowerblue;
}
#down{
    background-color: blanchedalmond;
    position: absolute;
    left: 887px;
    top: 327px;
}
#down:hover{
    background-color: cornflowerblue;
}
#createTable{
    background-color: blanchedalmond;
    position: absolute;
    left: 857px;
    top: 296px;
}
#createTable:hover{
background-color:cornflowerblue ;
}
#score {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    left: 831px;
    top: 30px;
}