.parent{
    width: 43%;
    height: 43svh;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent1{
    width: 43%;
    height: 43svh;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 287px;
    left: 3px;
}
.child{
    position: absolute;
    top: 46px;
    left: 156px;
}
.child1{
    position: absolute;
    top: 9px;
    left: 415px;
}
.child2{
    position: absolute;
    top: 92px;
    left: 75px;
}
.child3{
    font-size: 20px;
    font-style: normal;
    color: goldenrod;
    position: absolute;
    top: 16px;
    left: 330px;
}
.child4{
    font-size: 20px;
    font-style: normal;
    color:goldenrod;
    position: absolute;
    top: 45px;
    left: 330px;
}
.child5{
    font-size: 20px;
    font-style: normal;
    color: goldenrod;
    position: absolute;
    top: 72px;
    left: 330px;
}
.child6{
    font-size: 20px;
    font-style: normal;
    color: goldenrod;
    position: absolute;
    top: 148px;
    left: 330px;
}
.child7{
      position: absolute;
      top: 124px;
      left: 25px;
}
.child8{
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    position: absolute;
    top: 200px;
    left: 114px;
    color:  goldenrod;
}
.child9{
    font-size: 20px;
    font-style: normal;
    color: goldenrod;
    position: absolute;
    top: 96px;
    left: 330px;
}
.child10{
    font-size: 20px;
    font-style: normal;
    color: goldenrod;
    position: absolute;
    top: 124px;
    left: 330px;
}